.contenedor-uno{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contenedor-bienvenido, .contenedor-ingresar{
    width: 20em;
    background-color: cornsilk;
}

.bienvenido{
    border-style: solid;
    border-bottom-width: 2px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: grey;
}