#menu ul li{
	display:inline;
	text-decoration: none;
}

header{
	background-color: #1E1E1E;
	margin-left: -8px;
	position: relative;
	top: -20px;
	width: 1280px;
	padding-top: 30px;
}

#menu{
	background-color: #FF6600;
	margin-left:-8px;
	width: 1280px;
	position: relative;
	top: -36px;
	height: 30px;
}

#opciones li a{

	color: white;
	text-decoration: none;
	margin-right: 10px;
	font-family: 'Roboto', sans-serif;
	position: relative;
	bottom: -5px;
	height: 30px;


}


#lineanaranja{

	background-color: #FF6600;
	position: relative;
	bottom: 20px;
	height: 15px;
	width: 1280px;
	margin-left: -8px;

}

.opcion:hover{
	color: white;
	background-color: black;
	padding: 5px 5px 6px 5px; 

}


#descripcion{
	font-family: 'Baloo Paaji 2', cursive;
	color:grey;
	position: absolute;
	bottom: 563px;
	right: 242px;
    z-index:1; 
}

#mensajebienvenida{
	color: grey;
	font-family: 'Arial';
	position: absolute;
	bottom: 572px;
	right:99px;
	z-index: 1;
	font-size: 12px;

}

#salir{
	color:#FF6600;
	font-family: 'Arial'; 
	position: relative;
	bottom: 0px;
	right: -5px;
	z-index: 1;
}

.activo{
	color: white;
	background-color: black;
	padding: 5px 5px 6px 5px; 
}

/*#mensajecompleto{
	position: absolute;
	margin-right:-10px;
	top:28px;
	z-index: 1;
}*/

