*{
	margin: 0;
	padding: 0;
}

header{
	background-color: #1e1e1e;
	border-top: 5px solid #FF6600;
}

header img {
	margin: 20px 0px 0px 20px;
}

.header-bienvenida {
	float: right;
	color: #bfbdbd;
	margin-right: 50px;
	margin-top: 8px;
}

.header-bienvenida a{
	color: #FF6600;
}

#menu{
	background-color: #FF6600;
}

#menu ul {
	margin-left: 30px;
}

#menu ul li{
	display:inline-block;
	text-decoration: none;
	padding: 10px 0px;
}

#opciones li a {
	color: white;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
}

.opcion:hover{
	color: white;
	background-color: black;
	background-image: linear-gradient(gray, black);	
}